# Homework 2 part a: Logistic MF with Pytorch

Given a dataset with amazon ratings of books, write a pytorch code with the following model:
$$\hat{y_{ij}} = sigmoid(u_i \cdot v_j + b_i + c_j)$$

This is a binary dataset (ratings are 0's or 1's). The loss function for this model is log loss or binary cross entropy.
Also:
* Print training loss, validation loss and validation accuracy at every training iteration.

Write your code based on the notebook from the class https://github.com/yanneta/ML-notebooks/blob/master/MF_with_pytorch.ipynb

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import Dataset, DataLoader

In [5]:
PATH = Path("data/")

In [20]:
# reading a csv into pandas
train = pd.read_csv(PATH/"train_books_ratings.csv")
valid = pd.read_csv(PATH/"valid_books_ratings.csv")

In [7]:
valid.head()

             user        item  rating   timestamp
0  A2E2F4MLVYDGEQ  000100039X       0  1393286400
1  A386A9WE42M4PG  000100039X       0  1371772800
2  A1OGQA984MTKBH  000100039X       0  1372118400
3  A1VVBHGM8DFIZ4  000100039X       0  1387152000
4   AD6E4Y092Y4KP  000100039X       0  1392336000

In [8]:
train.head()

             user        item  rating   timestamp
0  A2IIIDRK3PRRZY  0000000116       0  1395619200
1   A9KTKY6BUR8U6  0000013714       0  1357516800
2  A35OP02LIXZ84E  0000477141       0  1399939200
3    A9WX8DK93SN5  000100039X       0  1385683200
4  A36JQ1WC5JQPFQ  000100039X       0  1391990400

Data Pre-processing
----

In [21]:
# First create the index.
train_user_ids = np.sort(np.unique(train.user.values))
train_item_ids = np.sort(np.unique(train.item.values))
num_users = len(train_user_ids)
num_items = len(train_item_ids)
user_index = {user: uid for uid, user in enumerate(train_user_ids)}
item_index = {item: iid for iid, item in enumerate(train_item_ids)}
train["user"] = train["user"].apply(lambda x: user_index[x])
train["item"] = train["item"].apply(lambda x: item_index[x])
valid["user"] = valid["user"].apply(lambda x: user_index.get(x, -1))
valid["item"] = valid["item"].apply(lambda x: item_index.get(x, -1))
valid = valid.loc[(valid.user>=0)&(valid.item>=0),:].copy()

In [22]:
train.head()

      user  item  rating   timestamp
0   527409     0       0  1395619200
1  1059073     1       0  1357516800
2   750064     2       0  1399939200
3  1062362     3       0  1385683200
4   758289     3       0  1391990400

In [24]:
valid.head()

       user  item  rating   timestamp
4   1093526     3       0  1392336000
5   1172263     3       0  1022025600
6   1114879    13       0  1277337600
19     6532    34       0  1336867200
24   416115    34       0  1390176000

In [28]:
print(train.shape, "      ", valid.shape)
print(num_users, "      ", num_items)

(1787557, 4)        (131657, 4)
1312778        659279

Model
----

In [47]:
class MF_bias(nn.Module):
    def __init__(self, num_users, num_items, emb_size=100):
        super(MF_bias, self).__init__()
        self.user_emb = nn.Embedding(num_users, emb_size)
        self.user_bias = nn.Embedding(num_users, 1)
        self.item_emb = nn.Embedding(num_items, emb_size)
        self.item_bias = nn.Embedding(num_items, 1)
        # init 
        self.user_emb.weight.data.uniform_(0,0.05)
        self.item_emb.weight.data.uniform_(0,0.05)
        self.user_bias.weight.data.uniform_(-0.01,0.01)
        self.item_bias.weight.data.uniform_(-0.01,0.01)
        
    def forward(self, u, v):
        U = self.user_emb(u)
        V = self.item_emb(v)
        b_u = self.user_bias(u).squeeze()
        b_v = self.item_bias(v).squeeze()
        return (U*V).sum(1) +  b_u  + b_v

In [52]:
def train_epocs(model, epochs=10, lr=0.01, wd=0.0):
    optimizer = torch.optim.Adam(model.parameters(), lr=lr, weight_decay=wd)
    for i in range(epochs):
        model.train()
        users = torch.LongTensor(train.user.values)  #.cuda()
        items = torch.LongTensor(train.item.values) #.cuda()
        ratings = torch.FloatTensor(train.rating.values)  #.cuda()
        ###
        y_hat = F.sigmoid(model(users, items))
        ###
        loss = F.binary_cross_entropy(y_hat, ratings)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        testloss = valid_loss(model)
        print("train loss %.3f valid loss %.3f" % (loss.item(), testloss))

In [53]:
def valid_loss(model):
    """calculate the validation loss of the model"""
    model.eval()
    users = torch.LongTensor(valid.user.values) # .cuda()
    items = torch.LongTensor(valid.item.values) #.cuda()
    ratings = torch.FloatTensor(valid.rating.values) #.cuda()
    y_hat = F.sigmoid(model(users, items))
    loss = F.binary_cross_entropy(y_hat, ratings)
    return loss.item()

In [54]:
model = MatrixFactorization(num_users, num_items, emb_size=100)

In [55]:
train_epocs(model, epochs=20, lr=0.18, wd=1e-5)

/Users/darenma/opt/anaconda3/lib/python3.7/site-packages/torch/nn/functional.py:1351: UserWarning: nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.
  warnings.warn("nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.")

train loss 0.696 valid loss 0.770
train loss 0.748 valid loss 0.698
train loss 0.696 valid loss 0.704
train loss 0.701 valid loss 0.728
train loss 0.720 valid loss 0.712
train loss 0.702 valid loss 0.695
train loss 0.688 valid loss 0.696
train loss 0.691 valid loss 0.706
train loss 0.693 valid loss 0.706
train loss 0.692 valid loss 0.698
train loss 0.691 valid loss 0.694
train loss 0.697 valid loss 0.696
train loss 0.691 valid loss 0.701
train loss 0.699 valid loss 0.700
train loss 0.698 valid loss 0.695
train loss 0.688 valid loss 0.694
train loss 0.697 valid loss 0.694
train loss 0.687 valid loss 0.696
train loss 0.690 valid loss 0.696
train loss 0.690 valid loss 0.694

In [56]:
train_epocs(model, epochs=20, lr=0.18, wd=1e-5)

train loss 0.686 valid loss 1.154
train loss 1.064 valid loss 0.699
train loss 0.691 valid loss 0.776
train loss 0.752 valid loss 0.904
train loss 0.840 valid loss 0.780
train loss 0.741 valid loss 0.699
train loss 0.688 valid loss 0.697
train loss 0.691 valid loss 0.733
train loss 0.714 valid loss 0.746
train loss 0.718 valid loss 0.717
train loss 0.693 valid loss 0.696
train loss 0.685 valid loss 0.695
train loss 0.694 valid loss 0.706
train loss 0.702 valid loss 0.713
train loss 0.696 valid loss 0.706
train loss 0.693 valid loss 0.696
train loss 0.686 valid loss 0.693
train loss 0.697 valid loss 0.697
train loss 0.695 valid loss 0.702
train loss 0.693 valid loss 0.701